# browser/selenium/splinter settings, paths can be absolute or relative
scraping:
  webdriver_path: "ext/webdriver"
  download_path: "./data"

# CSAM settings
csam:
  base_url: "SharePointURL/GoogleDrive URL/GRCT URL"
  username: ""
  password: ""

# logging settings
# see https://docs.python.org/3/howto/logging-cookbook.html#logging-cookbook
# for examples of logging configurations
logging:
  version: 1
  formatters:
    detailed:
      class: "logging.Formatter"
      format: "%(asctime)s - %(filename)s - %(funcName)s - %(levelname)s - %(message)s"
  handlers:
    console:
      class: "logging.StreamHandler"
    file:
      class: "logging.FileHandler"
      filename: "csam_inventory.log"
      mode: "w"
      formatter: "detailed"
  root:
    level: "INFO"
    handlers:
      - "console"
      - "file"
